body{
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/21014/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.kereksarok {    
    border-radius: 30px !important;
    backdrop-filter: blur(10px);
    background-color: rgba(117, 233, 248, 0.257);
    margin-bottom: 100px;
}