body{    
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/6238297/pexels-photo-6238297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
}

.kereksarok {    
    border-radius: 30px !important;
    backdrop-filter: blur(10px);
    background-color: rgba(245, 239, 179, 0.251);
    margin-bottom: 100px;
}

section{
    overflow: auto;
}